footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $blue;
    color: white;
    font-size: 14px;

    a {
        color: white;
        border-bottom: 2px dashed $orange;
    }
}