#header {
    background: $blue;
    padding-bottom: 180px;

    h1 {
        color: white;
        font-size: 25px;
    }

    .lien-logo {
        border-bottom: 0px;
        outline: none;

        &:hover {
            border-bottom: 0px;
        }
    }
}

.separator {
    display: block;
    height: 200px;
    width: 150%;
    transform: rotate(-15deg);
    background: white;
    position: relative;
    z-index: 2;
}

.separator2 {
    display: block;
    height: 200px;
    width: 150%;
    transform: rotate(15deg);
    background: white;
    position: relative;
    z-index: 2;
    top: -200px;
}

.separator-container {
    margin-top: -50px;
    margin-bottom: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 0px;

    .newButton {
        box-shadow: none;
        position: relative;
        top: 10px;
        max-width: 400px;
    }

    @media all and (max-width: 950px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
        padding-top: 30px;

        .newButton {
            top: 0px;
            margin-top: 5px;
            margin-bottom: -10px;
        }
    }
}


@media all and(min-width: 1200px) {
        nav, #header-container {
            width: 1100px;
        }

        nav {
            padding-left: 0px;
            padding-right: 0px;
        }

        #header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 500px;
        }

        #header-container {
            padding: 0px;
            padding-top: 80px;
        }

        .separator {
            display: block;
            height: 700px;
            width: 150%;
            transform: rotate(-10deg);
            background: white;
            position: relative;
            z-index: 2;
        }
        
        .separator2 {
            display: block;
            height: 700px;
            width: 150%;
            transform: rotate(10deg);
            background: white;
            position: relative;
            z-index: 2;
            top: -700px;
        }
        
        .separator-container {
            margin-top: -350px;
            margin-bottom: -380px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}