<form action="/mail" method="POST">
    <input id="emailAddress" type="email" placeholder="Votre email">
    <textarea id="message" placeholder="Votre message : n'hésitez pas à être précis"></textarea>
    <div id="btnSubmit" class="newButton">Envoyer</div>
</form>