<%- include('partials/head'); -%>

    <body>
        <div id="header">
            <nav>
                <a class="lien-logo" href="/"><h4 id="logo">WebComet</h4></a>

                <div id="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>

            <span id="nav-link" class="invisible">
                <a href="webmaster-creation-site-vitrine">Création de site vitrine</a>
                <a href="consultant-seo">SEO</a>
            </span>

            <div id="header-container">
                <h1>Consultant SEO à Rennes</h1>
                <div id="btnContact" class="newButton">Contact</div>
            </div>
        </div>

        <div class="separator-container">
            <span class="separator"></span>
            <span class="separator2"></span>
        </div>

        <main>
            <div class="content" id="elem1">
                <h2 class="titre">Je peux améliorer les positions de votre site web dans les résultats des moteurs de recherche comme Google</h2>

                <p>
                    Vous avez un site web en ligne, mais vous ne le trouvez pas assez visible dans les résultats des moteurs de recherche (Google, Bing, etc.) ? Vos clients potentiels n'arrivent pas à trouver votre site web sur les requêtes qui seraient intéressantes pour votre activité et pour votre localisation ? Vous cherchez un consultant SEO pour régler le problème et augmenter votre visibilité et votre chiffre d'affaires ?<br>

                    En effet il existe des solutions à vos problèmes de référencement, notamment le SEO (Search Engine Optimisation). Être bien placé sur les requêtes ciblant votre activité, par exemple "plombier paris" pour un plombier exerçant sur Paris, peut radicalement augmenter vos bénéfices en vous donnant un boost de visibilité sur internet.<br>

                    Pour une prestation en SEO, je procède de la sorte :
                </p>
                <ul>
                    <li><i class="far fa-check-circle"></i>Audit SEO de votre site web pour savoir ce qui ne va pas et quels points améliorer</li>
                    <li><i class="far fa-check-circle"></i>Recherche des mots-clés adéquats pour votre activité et votre localisation</li>
                    <li><i class="far fa-check-circle"></i>Optimisation SEO de votre site internet selon le bilan de l'audit SEO et les meilleures pratiques actuelles</li>
                    <li><i class="far fa-check-circle"></i>Suivi et analyse des résultats de l'optimisation</li>
                </ul>

                <p>
                    Le SEO est un investissement qu'il ne faut pas négliger pour votre activité en ligne. Avoir un bon référencement naturel peut en effet d'une part vous éviter de dépenser un trop gros budget en publicités, par exemple en annonces payantes Adwords, et d'autre part d'augmenter votre visibilité auprès de votre clientèle cible, vous créant de plus nombreuses opportunités commerciales.
                </p>

                <h2 class="titre mt7">Les dernières optimisations SEO que j'ai réalisé</h2>

                <div class="portfolio-container">
                    <div class="portfolio-row">
                        <div class="box-portfolio">
                            <img src="images/portfolio/emsam_serrurerie.jpg" alt="">
                            <div class="box-portfolio-text">
                                <h3>Emsam-serrurerie</h3>
                                <p>
                                    Création et optimisation SEO d'un site vitrine pour une entreprise de serrurerie basée à Nice. Très bons résultats.
                                </p>
                                <a class="newButton" target="_blank" href="https://emsam-serrurerie.fr/">Voir le site</a>
                            </div>
                        </div>

                        <div class="box-portfolio">
                            <img src="images/portfolio/michele_barange.png" alt="">
                            <div class="box-portfolio-text">
                                <h3>Artiste peintre à Rennes</h3>
                                <p>
                                    Création et optimisation SEO d'un site vitrine pour une artiste peintre à Rennes.
                                </p>
                                <a class="newButton" target="_blank" href="https://michelebarange.com/">Voir le site</a>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-row">
                        <div class="box-portfolio">
                            <img src="images/portfolio/allo-peintre33.png" alt="">
                            <div class="box-portfolio-text">
                                <h3>Allo-Brico33 & Allo-Peintre33</h3>
                                <p>
                                    Optimisation SEO de deux sites web WordPress existants. Optimisation en cours pour une entreprise de bricolage et jardinage, et une entreprise de peinture.
                                </p>
                                <a class="newButton" target="_blank" href="https://www.allo-peintre33.com/">Voir le site</a>
                            </div>
                        </div>

                        <div class="box-portfolio">
                            <img src="images/portfolio/mb-services-debarras.png" alt="">
                            <div class="box-portfolio-text">
                                <h3>MB Services Débarras</h3>
                                <p>
                                    Optimisation SEO d'un site web Wix existant pour une entreprise de débarras de maison.
                                </p>
                                <a class="newButton" target="_blank" href="https://www.m-b-services.com/">Voir le site</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <h2 class="titre mt7">Les avis de mes clients</h2> -->
            </div>

            <div class="contact_box">
                <h2>Contactez-moi</h2>

                <p>Contactez-moi pour une demande d'optimisation SEO</p>
                <%- include('partials/form'); -%>
            </div>
        </main>

        <!-- TARIFS ANNUELS ABONNEMENT OU OPTIMISATION D'UN COUP + SUIVI -->

        <%- include('partials/footer'); -%>
    </body>

    </html>