<%- include('partials/head'); -%>

    <body>
        <div id="header">
            <nav>
                <h4 id="logo">WebComet</h4>

                <div id="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>

            <span id="nav-link" class="invisible">
                <a href="webmaster-creation-site-web">Création de site vitrine</a>
                <a href="consultant-seo">SEO</a>
            </span>

            <div id="header-container">
                <h1>Création de site web &amp; référencement naturel SEO</h1>
                <div id="btnContact" class="newButton">Contact</div>
            </div>
        </div>

        <div class="separator-container">
            <span class="separator"></span>
            <span class="separator2"></span>
        </div>

        <main>
            <div class="box" id="box1">
                <span class="box-header">
                    <h2>Création de site web</h2>
                </span>
                <span class="box-main">
                    <img id="creation_site_web_img" src="images/creation_site_web.png" alt="">
                    <div class="box-text">
                        <p>Vous avez trouvé le <strong>webmaster</strong> qu'il vous faut pour créer votre site vitrine</p>
                        <div class="newButton">En savoir plus</div>
                    </div>
                </span>
            </div>

            <div class="box">
                <span class="box-header">
                    <h2>Référencement naturel SEO</h2>
                </span>
                <span class="box-main">
                    <div class="box-text">
                        <p>Améliorer les positions de votre site web sur les moteurs de recherche</p>
                        <div class="newButton">En savoir plus</div>
                    </div>
                    <img id="seo_img" src="images/seo.png" alt="">
                </span>
            </div>


            <div class="contact_box">
                <h2>Contactez-moi</h2>

                <p>Contactez-moi pour une demande de création de site web, ou d'optimisation de référencement naturel SEO</p>
                <form action="">
                    <input type="email" placeholder="Votre email">
                    <textarea placeholder="Votre message : n'hésitez pas à être précis"></textarea>
                    <div class="newButton">Envoyer</div>
                </form>
            </div>
        </main>

        <%- include('partials/footer'); -%>
    </body>

    </html>