<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->

    <title>WebComet.fr - Création de site web et référencement naturel SEO - Webmaster freelance</title>
    <meta name="description" content="Vous cherchez un webmaster ou développeur web freelance pour créer votre site web ? Vous cherchez un consultant SEO pour améliorer votre référencement naturel ? Alors contactez-moi">
    <link rel="canonical" href="https://webcomet.fr/">
</head>

<body>
    <div id="header">
        <nav>
            <h4 id="logo">WebComet</h4>

            <div id="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <span id="nav-link" class="invisible">
            <a href="webmaster-creation-site-web.html">Création de site web</a>
            <a href="consultant-seo.html">SEO</a>
        </span>

        <div id="header-container">
            <div>
                <h1>Création de site web &amp; référencement naturel SEO</h1>
                <div id="btnContact" class="newButton">Contact</div>
            </div>

            <img src="img/header.png" alt="">
        </div>
    </div>

    <div class="separator"></div>

    <main>
        <div class="box">
            <img id="creation_site_web_img" src="img/creation_site_web.png" alt="">
            <div class="box-text">
                <h2>Création de site web
                    <span class="point">.</span>
                </h2>
                <p>Vous avez trouvé le <strong>webmaster</strong> qu'il vous faut pour créer votre site web</p>
                <div class="newButton">En savoir plus</div>
            </div>
        </div>

        <div class="box">
            <div class="box-text">
                <h2>Référencement naturel SEO
                    <span class="point">.</span>
                </h2>
                <p>Améliorer les positions de votre site web sur les moteurs de recherche</p>
                <div class="newButton">En savoir plus</div>
            </div>
            <img id="seo_img" src="img/seo.png" alt="">
        </div>


        <div class="contact_box">
            <h2>Contactez-moi</h2>
            
            <p>Contactez-moi pour une demande de création de site web, ou d'optimisation de référencement naturel SEO</p>
            <form action="">
                <input type="email" placeholder="Votre email">
                <textarea placeholder="Votre message"></textarea>
                <div class="newButton">Envoyer</div>
            </form>
        </div>
    </main>

    <footer>
        <p>
            Tous droits réservés WebComet.fr - <a href="#">Mentions légales</a>
        </p>
    </footer>

    <script src="js/global.js"></script>
</body>

</html>