<%- include('partials/head'); -%>

    <body>
        <div id="header">
            <nav>
                <h4 id="logo">WebComet</h4>

                <div id="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>

            <span id="nav-link" class="invisible">
                <a href="webmaster-creation-site-web">Création de site web</a>
                <a href="consultant-seo">SEO</a>
            </span>

            <div id="header-container">
                <h1>Création de site web</h1>
                <div id="btnContact" class="newButton">Contact</div>
            </div>
        </div>

        <div class="separator-container">
            <span class="separator"></span>
            <span class="separator2"></span>
        </div>

        <main>
            <div class="contact_box">
                <h2>Contactez-moi</h2>

                <p>Contactez-moi pour une demande de création de site web</p>
                <form action="">
                    <input type="email" placeholder="Votre email">
                    <textarea placeholder="Votre message : n'hésitez pas à être précis"></textarea>
                    <div class="newButton">Envoyer</div>
                </form>
            </div>
        </main>

        <%- include('partials/footer'); -%>
    </body>

    </html>