<%- include('partials/head'); -%>

    <body>
        <div id="header">
            <nav>
                <h4 id="logo">WebComet</h4>

                <div id="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>

            <span id="nav-link" class="invisible">
                <a href="webmaster-creation-site-web">Création de site web</a>
                <a href="consultant-seo">SEO</a>
            </span>

            <div id="header-container">
                <h1>Création de site web</h1>
                <div id="btnContact" class="newButton">Contact</div>
            </div>
        </div>

        <div class="separator-container">
            <span class="separator"></span>
            <span class="separator2"></span>
        </div>

        <main>
            <div class="content">
                <h2 class="titre">Vous souhaitez faire réaliser un site web ? Je peux vous le créer sur-mesure à un prix compétitif</h2>

                <p>
                    Vous avez besoin d'un site web pour présenter votre activité, être plus visible sur internet et attirer plus de clients ?<br> Mes prestations en création de site web sont avantageuses pour vous : en me confiant la réalisation de votre site web, vous faite appel à un webmaster indépendant qui vous coûtera moins cher qu'une agence web. De plus, mes disponibilités sont plus grandes, mes horaires plus flexibles : vous pourrez me joindre plus facilement.<br><br> Les sites web que je créé sont de qualité :
                </p>
                <ul>
                    <li><i class="far fa-check-circle"></i>Développement de votre site web sur-mesure</li>
                    <li><i class="far fa-check-circle"></i>Responsive : s'adapte à toutes les tailles d'écran (téléphones, tablettes, ordinateurs)</li>
                    <li><i class="far fa-check-circle"></i>Optimisé pour le SEO : votre site web sera optimisé pour être bien visible sur Google</li>
                    <li><i class="far fa-check-circle"></i>Rapide : votre site web étant développé sur mesure, il sera bien plus rapide qu'un site web créé avec un CMS comme WordPress</li>
                    <li><i class="far fa-check-circle"></i>Une réelle implication de ma part dans vos projets web</li>
                </ul>

                <p>
                    Vous l'aurez compris, en faisant appel à mes services vous n'aurez pas un site web créé à la chaîne avec un thème WordPress peu personnalisé, lent, mal optimisé pour le SEO, et lourd.<br> Au contraire vous aurez un site web développé sur mesure selon vos envies, léger et rapide, optimisé pour flirter avec les premières positions sur Google, créé avec les dernières technologies web du moment (Javascript, Node.js, React.js).
                </p>

                <h2 class="titre mt7">Mes dernières réalisations</h2>

                <div class="portfolio-container">
                    <div class="box-portfolio">
                        <img src="images/portfolio/emsam_serrurerie.jpg" alt="">
                        <div class="box-portfolio-text">
                            <h2>Emsam-serrurerie</h2>
                            <p>
                                Création d'un site vitrine pour une entreprise de serrurerie basée à Nice.<br> Site web créé sur-mesure, optimisé pour le SEO.
                            </p>
                            <div class="newButton">Voir le site</div>
                        </div>
                    </div>

                    <div class="box-portfolio">
                        <img src="images/portfolio/michele_barange.png" alt="">
                        <div class="box-portfolio-text">
                            <h2>Artiste peintre</h2>
                            <p>
                                Création d'un site vitrine pour une artiste peintre à Rennes.<br> Site web créé sur-mesure, optimisé pour le SEO.
                            </p>
                            <div class="newButton">Voir le site</div>
                        </div>
                    </div>

                    <div class="box-portfolio">
                        <img src="images/portfolio/newlive.jpg" alt="">
                        <div class="box-portfolio-text">
                            <h2>Newlive</h2>
                            <p>
                                Création d'un site vitrine pour une entreprise de coaching personnel.<br> Site web créé sur-mesure, non optimisé pour le SEO.
                            </p>
                            <div class="newButton">Voir le site</div>
                        </div>
                    </div>

                    <div class="box-portfolio">
                        <img src="images/portfolio/sauve-le-koala.png" alt="">
                        <div class="box-portfolio-text">
                            <h2>Sauve le koala</h2>
                            <p>
                                Création d'un site vitrine pour un jeu vidéo 2D.<br> Site web créé sur-mesure, non optimisé pour le SEO.
                            </p>
                            <div class="newButton">Voir le site</div>
                        </div>
                    </div>
                </div>

                <h2 class="titre mt7">Les avis de mes clients</h2>
            </div>

            <div class="contact_box">
                <h2>Contactez-moi</h2>

                <p>Contactez-moi pour une demande de création de site web</p>
                <form action="">
                    <input type="email" placeholder="Votre email">
                    <textarea placeholder="Votre message : n'hésitez pas à être précis"></textarea>
                    <div class="newButton">Envoyer</div>
                </form>
            </div>
        </main>

        <%- include('partials/footer'); -%>
    </body>

    </html>