/* BUTTONS */

.newButton {
    width: 150px;
    text-align: center;
    background: linear-gradient($orangeLight, $orange);
    padding: 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: silver 5px 10px 10px;
    z-index: 3;
    outline: none;
    text-decoration: none;
    display: block;
    border-bottom: 0px;

    &:hover {
        box-shadow: silver 5px 10px 15px;
        border-bottom: 0px;
    }

    &:active {
        padding: 19px;
    }
}

#btn-contact {
    transition: all .2s;
    background: white;
    padding: 15px;
    border-radius: 40px;
    width: 100px;
    text-align: center;
    color: $orange;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 10px;

    &:hover {
        background: $orange;
        color: white;
    }
}